$main-color: #1e80c6;

$bg-main: $main-color;
$bg-background: #e4e4e4;
$bg-red: #f00;

$text: #3d3d3d;
$text-active: $main-color;
$text-main: #1e80c6;
$text-foot: #7e7e7c;
$text-light: #777777;

$radius: 10px;
